// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Stint+Ultra+Expanded&display&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
$black: #000;
$white: #ffffff;
$primary: #1000be; // Blue
$secondary: #09006a; // Dark Blue
$dark-gray: #363636;
$light-gray: #f4f4f4;
$dark-red: #6f0003;

$footer-top-color: $primary;
$footer-bottom-color: $secondary;

// Fonts
$heading: 'Montserrat', sans-serif;
$sub-heading: 'Montserrat', sans-serif;
$body: 'Montserrat', sans-serif;

// Base Styles
@import 'base/reset';
@import 'base/common';
@import 'base/grid';
@import 'base/helpers';
@import 'base/responsive-fonts';

@import 'base/header';
@import 'base/footer';
@import 'base/cta';
@import 'base/home-page';
@import 'base/hero-title';
@import 'base/archive.scss';
@import 'base/sidebar.scss';